<h1 style="margin-bottom: 20px;">New Place</h1>

<% if @current_user != nil %>
<form action="/places" method="post">
  <p>
    <label for="name_input">Name</label>
    <input type="text" name="name" id="name_input">
  </p>

  <button class="btn btn-primary">Save Place</button>
</form>

<% else %>
  You must first <a href="/login">login</a> to create a new place.
<% end %>